# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
.venv/
venv/

# Environment Variables
.env

# ML Models
*.pkl

# VS Code
.vscode/

# Node
node_modules/

# Logs
*.log

# OS Files
.DS_Store
Thumbs.db

# Build
dist/
build/

# MongoDB temp
*.wt

# Jupyter
.ipynb_checkpoints/

# Cache
.cache/